<header class="header">
    <h1><%= headerTitle %></h1>
    <div class="bottom-header">
        <% if (locals.user) { %>
            <h2>Welcome, <%= user.name%></h2>
         <% } %>
        <a href="/upload" class="upload-btn">Upload file</a>
    </div>
</header>